<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ことばジェネレーター</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <script src="html2canvas.min.js"></script>
    <script src="vue.min.js"></script>
</head>
<body>
    <div>ことばジェネレーターα版</div>
    <div>出力でプレビューをもとに画像が生成されます</div>
    <hr>
    <div id="app">
        <div id="generator-config">
            <form>
                <div class="form-group">
                    <label class="form-label">テーマカラー</label>
                    <input type="color" class="form-input" v-model="text.color">
                </div>
                <div class="form-group">
                    <label class="form-label">本文</label>
                    <textarea class="form-input form-control" v-model="text.content" @input="onInputContent"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-label">名前</label>
                    <textarea class="form-input form-control" v-model="text.name" @input="onInputName"></textarea>
                </div>
            </form>
            <button class="btn btn-primary" type="submit" @click="onSave">出力</button>
        </div>
    <div id="generator">
        <div>
            <div>画像ファイル(長押しでダウンロードできます))</div>
            <p><img ref="outputImage" :src="outputImage" crossorigin="anonymous" style="max-width: 20%;" /></p>
        </div>
        <div>htmlプレビュー</div>
            <div id="generator-frame" v-bind:style="{'border-color': text.color}">
                <div id="generator-content" v-bind:style="{'color': text.color}" v-html="text.output" class="vertical-content"></div>
                <div id="generator-name" v-bind:style="{'color': text.color}" v-html="text.outputName"></div>
            </div>
        </div>
    </div>
</body>
<script src="main.js"></script>
</html>