#app {
    font-family: "游明朝", "YuMincho", "Sawarabi Mincho", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "serif";
}

#generator-container {
    position: relative;
    max-width: 600px;
}
#generator-container:before {
    content:"";
    display: block;
    padding-top: 125%; /* 高さを幅の75%に固定 */
}

#generator-frame {
    border: 25px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#generator-content {
    max-height: 460px;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
    letter-spacing: 3px;
}

.vertical-content {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
}

.horizontal-content {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    line-height: 1;
}

#generator-name {
    position: absolute;
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    left: 10px;
    bottom: 20px;
    font-size: 12px;
}